.car-header h4 {
  display: inline-block;
}

.car-field {
  position: relative;
  border-bottom: 2px dashed #333;
  height: 40px;
  display: flex;
  padding-right: 100px;
}

.car-navigation {
  flex-basis: 80px;
}

.car-field-inner {
  height: 100%;
  width: 100%;
  position: relative;
}

.car {
  position: absolute;
  bottom: -8px;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes drive {
  0%   {left:0;}
  100% {left:98%;}
}

.car > svg {
  width: 72px;
  height: 34px;
}

.finish-line {
  position: absolute;
  right: 0;
  bottom: 0;

}

.finish-line > img {
  height: 30px;
}