.category-card {
  border: 1px solid gray;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform .5s;
  cursor: pointer;
}

.card.turn {
  transform: rotateY(180deg);
}

.category-card-inner {
  display: flex;
  flex-direction: column;
}

.category-card-pic {
  width: 100%;
  height: 300px;
}

.category-card-pic > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category-card-caption {
  font-size: 18px;
}

.caption-turned {
  display: none;
}

.card.turn .caption-normal {
  display: none;
}

.card.turn .caption-turned {
  display: block;
  transform: rotateY(-180deg);
}

.in-game .category-card-caption {
  display: none;
}

.card.disabled {
  background: lightgray;
  cursor: default;
}