.word-card {
  transform-style: preserve-3d;
  transition: transform .5s;
  border: 1px solid lightgrey;
}

.word-card.turn {
  transform: rotateY(180deg);
}

.caption-turned {
  display: none;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.word-card.turn .caption-normal {
  display: none;
}

.word-card.turn .caption-turned {
  display: flex;
  transform: rotateY(-180deg);
}

.in-game .word-card .card-caption {
  display: none;
}

.in-game .word-card .card-pic {
  height: 100%;
}

.word-card.disabled {
  background: lightgray;
  cursor: default;
  pointer-events: none;
}

.word-card .turn-card-btn {
  height: 100%;
  width: 34px;
  padding: 0;
  border: none;
  outline: none;
  background: transparent;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center bottom;
  cursor: pointer;
  background-image: url('../../assets/turn-card.png');
}