@import "refactor/menu.css";
@import "refactor/header-btns.css";

header {
  background-color: var(--background-color-primary);
  height: 70px;
  color: var(--text-color-primary-reverse);
}

header > .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.header-item {
  flex-grow: 1;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.logo h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

.logo h1 span {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--text-color-primary-reverse);
  padding: 0 3px;
  cursor: default;
}

.logo h1 > span:last-child {
  background: var(--text-color-primary-reverse);
  color: var(--background-color-primary);
}