aside {
  width: 100px;
  position: absolute;
  padding-top: var(--padding-for-main-top-desctop);
}

.aside.opened {
  width: 100%;
  height: 100%;
  left: 0;
  position: fixed;
  z-index: 100;
}

.aside.opened:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: rgba(51, 51, 51, 0.4);
  z-index: 2;
}

.menu-inner {
  background: #f1f1f1;
  position: absolute;
  height: 100%;
  width: 300px;
  left: 0;
  top: 0;
  transform: translateX(-700px);
  transition: transform .6s ease;
  z-index: 2;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.menu-inner.opened {
  transform: translateX(0);
}

.login {
  height: 40px;
  text-transform: uppercase;
  background: lightblue;
  border: 1px solid #e3e3e3;
  cursor: pointer;
}

.login:hover {
  background: #47aac9;
}

@media (max-width: 349px){

  .menu-inner {
    width: 95%;
  }
}