@import "normalize.css";

* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: #333;
  width: 1920px;
}

@media (min-width: 1250px) {
  .container {
    max-width: 1620px;
    margin: 0 auto;
  }
}

/*Header*/

header {
  display: flex;
  justify-content: normal;
  align-items: center;
  height: 94px;
}

/*logo*/
.logo {
  display: block;
  color: #333;
  text-decoration: none;
  width: 32.5%;
}

.logo:hover {
  color: #4bd8b5;
}

.logo h1 {
  font-weight: 900;
  margin: 0;
  text-align: left;
}

.logo h1 > span {
  display: block;
  font-size: 18px;
  letter-spacing: 0.08em;
}

.logo h1 > .zoo {
  text-transform: lowercase;
  font-size: 36px;
  letter-spacing: 0;
  line-height: 28px;
}

/*menu*/

nav {
  width: 35%;
  height: 100%;
}

.menu {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-item {
  display: inline-block;
  padding: 0 15px;
}

.menu-item:first-child {
  padding-left: 0;
}

.menu-item:last-child {
  padding-right: 0;
}

.menu-item > .menu-item-inner {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333;
  text-transform: capitalize;
  text-decoration: none;
}

.menu-item:hover > .menu-item-inner {
  color: #4bd8b5;
}

.menu-item.active > .menu-item-inner {
  font-weight: 900;
  text-decoration: underline;
}

.menu-item.active:hover > .menu-item-inner {
  color: #333;
}

/*toggle*/

.theme-toggle {
  width: 32.5%;
  text-align: right;
}

.toggle-button {
  position: relative;
  display: inline-block;
  width: 54px;
  height: 30px;
  background: #f2f2f2;
  border-radius: 190px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease-out;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.toggle-button::after {
  content: "";
  display: inline-block;
  position: absolute;
  left: 6px;
  top: 5px;
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  transform: translateX(0);
  transition: all 0.3s ease-out;
}

.toggle-button:checked::after {
  transform: translateX(calc(100% + 6px));
  background-color: #1b1b1b;
}
.toggle-button:checked {
  background-color: #4f4f4f;
}
/*Section watch animal*/

.watch-animal {
  position: relative;
  width: 100%;
  height: 940px;
  overflow: hidden;
  padding-top: 206px;
}

.watch-animal .background {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 100%;
  width: auto;
  z-index: -1;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
}

.watch-animal .title {
  width: 800px;
  margin-bottom: 37px;
}

.title h2 {
  font-weight: 900;
  font-size: 89px;
  line-height: 104px;
  color: #FEFEFE;
  margin: 0;
}

.watch-online-btn {
  position: relative;
  border: none;
  outline: none;
  width: 245px;
  height: 55px;
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  border-radius: 3px;
  text-align: center;
  padding-left: 44px;
}

.watch-online-btn:hover {
  cursor: pointer;
  background: linear-gradient(106.89deg, #45c4a3 -14.32%, #48c2cb 100.68%);
}

.watch-online-btn:focus {
  background: linear-gradient(106.89deg, #39a68a -14.32%, #40a4ac 100.68%);
}

.watch-online-btn > span {
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

.watch-online-btn > span:before {
  content: '';
  position: absolute;
  width: 32px;
  height: 32px;
  left: 38px;
  top: 50%;
  transform: translateY(-50%);
  border: 1px solid #fff;
  border-radius: 50%;
  background-image: url('../../assets/icons/watch-icon.svg');
  background-position: center;
  background-repeat: no-repeat;
}

.social {
  position: absolute;
  bottom: 106px;
}

.social-item {
  margin-bottom: 11px;
}

.social-item:last-child {
  margin-bottom: 0;
}

.social-item > a {
  display: block;
  width: 20px;
  height: 20px;
  background-repeat: no-repeat;
  background-position: center;
}

.social-item:first-child > a {
  background-image: url('../../assets/icons/instagram-icon.svg');
}

.social-item:nth-child(2) > a {
  background-image: url('../../assets/icons/twitter-icon.svg');
}

.social-item:nth-child(3) > a {
  background-image: url('../../assets/icons/youtube-icon.svg');
}

.social-item:last-child > a {
  background-image: url('../../assets/icons/vk-icon.svg');
}

/*Slider*/

.slider {
  position: relative;
}

.watch-aminal-slider.slider {
  position: absolute;
  right: 0;
  bottom: 40px;
}

.slider-wrap {
  position: relative;
  overflow: hidden;
}

.watch-aminal-slider .slider-wrap {
  width: 1080px;
  height: 500px;
}

.slider-inner {
  width: 4000px;
  position: absolute;
  left: 0;
  top: 0;
}

.watch-aminal-slider .slider-inner {
  width: 4000px;
  top: 6px;
  padding-left: 135px;
  background-image: url('../../assets/icons/slider-line.svg');
  background-repeat: no-repeat;
  background-position-y: 54%;
}

.slide {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
  overflow: hidden;
}

.watch-aminal-slider .slide {
  width: 140px;
  height: 203px;
  margin-right: 42px;
  margin-top: 26px;
}

.watch-aminal-slider .slide.active {
  width: 245px;
  height: 352px;
  margin-top: 0;
}

.slide-pic {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.watch-aminal-slider .slide-pic {
  border-radius: 5px;
  filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
}

.slide-pic > img {
  position: absolute;
  height: 100%;
  width: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.slide-caption {
  display: none;
  position: absolute;
  bottom: 38px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: left;
  color: #fff;
  z-index: 10;
}

.slide.active .slide-caption {
  display: block;
}

.slide-description {
  width: 85%;
  margin-bottom: 16px;
  font-size: 14px;
  font-weight: normal;
  text-transform: capitalize;
  padding-left: 23px;
}

.slide-btns {
  padding-left: 22px;
}

.slide-btn {
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  position: relative;
  padding-left: 27px;
  text-decoration: none;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  display: inline-block;
  margin-right: 7px;
}

.slide-btn:last-child {
  margin-right: 0;
}

.watch-online-link > span {
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #4BD8B5;
}

.slide-btn:before {
  content: '';
  position: absolute;
  left: 1px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  box-sizing: border-box;
}

.watch-online-link:before {
  background-image: url('../../assets/icons/watch-online-gradient.svg');
}

.donate-btn:before {
  background-image: url('../../assets/icons/donate.svg');
}

/*slider pagination*/

.slider-pagination {
  position: absolute;
  bottom: 75px;
  width: 245px;
  left: 30%;
}

.slider-output {
  text-align: center;
  font-weight: 900;
}

.slider-output .slide-current {
  display: inline;
  color: #FEFEFE;
  font-size: 24px;
}

.slides-amount {
  display: inline;
  color: #BDBDBD;
  font-size: 14px;
}

.slider-range {
  height: 10px;
}

.slider-range input[type='range'] {
  display: block;
  appearance: none;
  height: 5px;
  background-color: rgba(189, 189, 189, 0.57);
  margin-top: 14px;
  outline: none;
  transition: 0.3s;
  cursor: pointer;
  width: 100%;
}
.slider-range input[type='range']::-webkit-slider-thumb {
  appearance: none;
  width: 30px;
  height: 10px;
  background-color: #fefefe;
  cursor: pointer;
  transition: 0.3s;
}
.slider-range label:hover input[type='range']::-webkit-slider-thumb {
  background: linear-gradient(106.89deg, #4BD8B5 -14.32%, #49D6DF 100.68%);
}
.slider-range label:active input[type='range']::-webkit-slider-thumb {
  background: linear-gradient(106.89deg, #39a68a -14.32%, #40a4ac 100.68%);
  height: 15px;
}

/*SECTION how it works*/

.how-it-works {
  background: #fbfbfb;
  padding-top: 100px;
  padding-bottom: 70px;
}

.section-inner {
  width: 66%;
  margin: 0 auto;
}

.title h3 {
  font-weight: 900;
  font-size: 48px;
  color: #333;
  margin: 0;
  margin-bottom: 30px;
  text-align: center;
}

.title.left h3 {
  text-align: left;
}

.text-description {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
  margin-bottom: 30px;
  text-align: center;
}

.text-description.left {
  text-align: left;
}

.how-it-works-slider {
  margin-bottom: 33px;
}

.how-it-works-slider .slider-wrap {
  height: auto;
}

.how-it-works-slider .slider-inner {
  position: static;
  margin-bottom: 30px;
}

.how-it-works-slider .slide {
  width: 790px;
  height: 323px;
}

.how-it-works-slider .slide-pic {
  border-radius: 5px;
}

.how-it-works-slider .slide-pic > img {
  width: 100%;
  height: auto;
}

.slider .slider-pagination.dark-pagination {
  position: static;
  width: 245px;
  margin: 0 auto;
}

.dark-pagination .slider-range input[type='range']::-webkit-slider-thumb {
  width: 62px;
  height: 10px;
  background-color: #333;
  cursor: pointer;
  transition: 0.3s;
}

.dark-pagination .slider-output .slide-current {
  color: #333;
}

.how-it-works .watch-online-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
}

/*SECTION inspiration*/

.inspiration {
  background: #F2F2F2;
  padding-top: 102px;
  padding-bottom: 132px;
}

.inspiration-blocks {
  display: flex;
  justify-content: space-between;
}

.block-item {
  text-align: center;
  width: 31.5%;
}

.block-pic {
  margin-bottom: 10px;
  height: 85px;
}

.block-title h4 {
  font-weight: 900;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  color: #333333;
  margin-top: 0;
  margin-bottom: 14px;
}

.block-descr {
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  color: #4F4F4F;
  text-align: left;
}

/*SECTION pets-in-zoo*/

.pets-in-zoo {
  background: #fbfbfb;
  padding-top: 100px;
  padding-bottom: 60px;
}

.pets-in-zoo .title {
  margin-bottom: 35px;
}

.pets-in-zoo-slider {
  margin-bottom: 33px;
}

.pets-in-zoo-slider .slider-wrap {
  height: auto;
}

.pets-in-zoo-slider .slider-inner {
  position: static;
  margin-bottom: 30px;
}

.pets-in-zoo-slider .slide {
  width: 278px;
  height: 399px;
  margin-right: 26px;
  transition: all 0.3s ease-out;
}

.pets-in-zoo-slider .slide-pic:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background: linear-gradient(348.75deg, #000000 10.15%, rgba(0, 0, 0, 0) 59%);
  z-index: 1;
  transition: all 0.3s ease-out;
}

.pets-in-zoo-slider .slide:hover .slide-pic:before {
  display: block;
}

.pets-in-zoo-slider .slide-pic {
  border-radius: 5px;
}

.pets-in-zoo-slider .slide-pic > img {
  width: auto;
  height: 100%;
}

.pets-in-zoo-slider .slide-caption {
  bottom: -50px;
  transition: all 0.3s ease-out;
  opacity: 0;
  display: block;
}

.pets-in-zoo-slider .slide:hover .slide-caption {
  opacity: 1;
  bottom: 46px;
  transition: bottom 0.3s ease;
}

.pets-in-zoo-slider .slide-description {
  width: 75%;
  margin-bottom: 17px;
  padding-left: 22px;
  line-height: 16px;
}

.pets-in-zoo-slider .dark-pagination .slider-range input[type='range']::-webkit-slider-thumb {
  width: 30px;
}

.slider-nav {
  position: absolute;
  top: 38%;
  cursor: pointer;
}

.slider-nav.disabled {
  cursor: default;
}

.slider-nav.slider-prev {
  left: -45px;
}

.slider-nav.slider-next {
  right: -45px;
}

.slider-nav > svg > path {
  fill: #3C3C3C;
}

.slider-nav.disabled > svg > path {
  fill: #828282;
}

.slider-nav:hover > svg > path {
  fill: #4BD8B5;
}

.slider-nav.disabled:hover > svg > path {
  fill: #828282;
}

a.watch-online-btn {
  display: block;
  margin: 0 auto;
  margin-bottom: 30px;
  text-decoration: none;
  line-height: 55px;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
}

/*SECTION Pay and feed*/

.pay-and-feed {
  background: #F2F2F2;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.pay-and-feed .block-item {
  background-image: url('../../assets/icons/gradient-circle.svg');
  background-repeat: no-repeat;
  width: 245px;
  height: 245px;
  position: relative;
}

.pay-and-feed .inspiration-blocks {
  padding-top: 64px;
  margin-bottom: 60px;
}

.pay-and-feed .block-pic {
  padding-top: 70px;
  margin-bottom: 14px;
  height: 127px;
}

.pay-and-feed .block-title {
  width: 55%;
  margin: 0 auto;
}

.pay-and-feed .block-info h4 {
  color: #4F4F4F;
}

.block-item:before {
  content: '';
  display: block;
  position: absolute;
  left: -71%;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../../assets/icons/pay-and-feed-arrow.svg);
  background-repeat: no-repeat;
  height: 17px;
  width: 110px;
  background-size: contain;
}

.block-item:first-child:before {
  display: none;
}

.watch-online-btn.no-icon-btn {
  padding: 0;
}

.watch-online-btn.no-icon-btn > span:before {
  display: none;
}

/*SECTION testimonials*/

.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: #fbfbfb;
}

.testimonials-slider {
  padding-top: 32px;
  margin-bottom: 30px;
}

.testimonials-slider .slider-wrap {
  height: 410px;
}

.testimonials-slider .slider-inner {
  height: 310px;
  position: static;
  margin-bottom: 50px;
  text-align: left;
}

.testimonials-slider .slide {
  width: 585px;
  height: 310px;
  background: #FEFEFE;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
  text-align: center;
  padding: 46px 74px 0;
  margin-right: 30px;
}

.testimonials-slider .slide:last-child {
  margin-right: 0;
}

.testimonials-slider .block-pic {
  position: relative;
  height: 68px;
  width: 68px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid #BDBDBD;
  border-radius: 50%;
  margin-bottom: 18px;
}

.testimonials-slider .block-pic > img {
  position: absolute;
  width: 100%;
  height: auto;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.testimonials-slider .block-pic > .default-icon {
   width: 48px;
   height: 48px;
}

.testimonials-slider .block-title h4 {
  margin-bottom: 16px;
}

.testimonials-slider .slider-range input[type='range']::-webkit-slider-thumb {
  width: 30px;
}

/*SECTION map*/

.map {
  background: #F2F2F2;
  text-align: center;
  padding: 100px 0;
}

.map-inner {
  padding-top: 30px;
  margin-bottom: 30px;
  position: relative;
}

.map-inner > svg {
  width: 100%;
}

.map-animal-icon {
  position: absolute;
  width: 67px;
  height: 94px;
  cursor: pointer;
}

.map-animal-icon.map-animal-icon-eagle {
  top: 103px;
  left: 122px;
}

.map-animal-icon.map-animal-icon-alligator {
  top: 130px;
  left: 245px;
}

.map-animal-icon.map-animal-icon-gorilla {
  top: 218px;
  left: 571px;
}

.map-animal-icon.map-animal-icon-panda {
  top: 119px;
  right: 241px;
}

.map-animal-icon-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-image: url('../../assets/icons/map-animal-icon.svg');
  background-repeat: no-repeat;
  background-size: 100%;
  padding-top: 13px;
}

.animal-icon-pic {
  position: relative;
  width: 43px;
  height: 43px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 50%;
}

.animal-icon-pic > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.map-animal-icon-gorilla img {
  width: 100%;
  height: auto;
}

.tooltip {
  position: absolute;
  top: 77px;
  right: 33px;
  display: none;
  background: #FEFEFE;
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.15);
  border-radius: 8px;
  padding: 39px 42px;
  width: 436px;
  height: 149px;
}

.map-animal-icon:hover .tooltip {
  display: block;
}

.tooltip-inner {
  display: flex;
  justify-content: start;
}

.tooltip-pic {
  display: inline-block;
  margin-right: 21px;
  border-radius: 50%;
  position: relative;
  width: 65px;
  height: 65px;
  overflow: hidden;
}

.tooltip-pic > img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: auto;
  height: 100%;
}

.tooltip-info {
  text-align: left;
}

.tooltip-info .block-title {
  display: inline-block;
}

.tooltip-info .block-title {
  display: inline-block;
}

.tooltip-info .block-title h4 {
  margin-bottom: 4px;
  font-size: 18px;
}

.tooltip-info .block-descr > p {
  margin-top: 0;
  margin-bottom: 6px;
}

.tooltip-info .block-descr > p > span {
  font-weight: 500;
  margin-right: 2px;
}