@import "normalize.css";
@import "../../common.css";

@media (max-width: 1199px) {

  main {
    padding-top: 94px;
  }
}

/*SECTION watch animal*/

.watch-animal {
  position: relative;
  width: 100%;
  height: 940px;
  overflow: hidden;
  padding-top: 206px;
}

.watch-animal .background {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: -1;
}

.watch-animal .title {
  width: 800px;
  margin-bottom: 37px;
}

.title h2 {
  font-weight: 900;
  font-size: 89px;
  line-height: 104px;
  color: var(--absolute-light-color-2);
  margin: 0;
}

.watch-animal .watch-online-btn {
  margin: 0;
}

/* -- Slider -- */

.watch-animal-slider.slider {
  position: absolute;
  right: 0;
  bottom: 40px;
}

.watch-animal-slider .slider-wrap {
  width: 1080px;
  height: 500px;
}

.watch-animal-slider .slider-inner {
  top: 6px;
  padding-left: 135px;
  background-image: url('../../assets/icons/slider-line.svg');
  background-repeat: no-repeat;
  background-position-y: 54%;
}

.watch-animal-slider .slide {
  width: 140px;
  height: 203px;
  margin-right: 46px;
  margin-top: 88px;
  flex-basis: auto;
}

.watch-animal-slider .slide.active {
  width: 245px;
  height: 352px;
  margin-top: 0;
}

.watch-animal-slider .slide-pic {
  filter: drop-shadow(5px 4px 50px rgba(152, 157, 198, 0.25));
}

.watch-animal .slider-output .slide-current {
  color: var(--absolute-light-color-2);
}

.watch-animal  input[type='range']::-webkit-slider-thumb {
  background-color: var(--absolute-light-color-2);
}

.watch-animal  input[type='range']::-moz-range-thumb {
  background-color: var(--absolute-light-color-2);
}

/* -- On hover effects for slide - for animal-sliders -- */

.animal-slider .slide-pic:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  display: none;
  background: var(--darken-the-block-gradient);
  z-index: 1;
  transition: all 0.3s ease-out;
}

.animal-slider .slide:hover .slide-pic:before {
  display: block;
}

.animal-slider .slide:hover .slide-caption {
  opacity: 1;
  bottom: 10px;
  transition: bottom 0.3s ease;
}

.watch-animal-slider .slide.active .slide-caption {
  opacity: 1;
  bottom: 38px;
}

/* -- For small slides in watch-animal-section -- */

.watch-animal-slider .slide:not(.active) .slide-description {
  width: 100%;
  padding: 0 5px 0 10px;
  font-size: 12px;
  margin-bottom: 10px;
}

.watch-animal-slider .slide:not(.active) .slide-btns {
  padding-left: 5px;
  display: flex;
}

.watch-animal-slider .slide:not(.active) .slide-btn {
  font-size: 10px;
  padding-left: 20px;
  margin-right: 4px;
}

.watch-animal-slider .slide:not(.active) .slide-btn:before {
  width: 16px;
  height: 16px;
  background-size: contain;
}

.watch-animal-slider .slide:not(.active) .watch-online-link > span {
  display: inline-block;
  width: 36px;
}

/* -- Responsive for Section watch animal  -- */

@media (max-width: 639px){

  .watch-animal {
    height: 667px;
    padding-top: 89px;
  }

  .watch-animal .background > img {
    object-fit: cover;
  }

  .watch-animal .title {
    width: 100%;
    margin-bottom: 15px;
  }

  .title h2 {
    font-size: 48px;
    line-height: 56px;
  }

  .watch-animal .social {
    display: none;
  }

  .watch-animal-slider.slider {
    bottom: 11px;
    right: -2px;
  }

  .watch-animal-slider .slider-wrap {
    width: 320px;
    height: 300px;
  }

  .watch-animal-slider .slider-inner {
    padding-left: 22px;
    background-position-y: 50%;
  }

  .watch-animal-slider .slide {
    width: 113px;
    height: 164px;
    margin-right: 9px;
    margin-top: 19px;
  }

  .watch-animal-slider .slide.active {
    width: 140px;
    height: 202px;
  }

  .watch-animal-slider .slide-description {
    font-size: 13px;
    width: 100%;
    padding-left: 8px;
    margin-bottom: 12px;
  }

  .watch-animal-slider .slide-btns {
    padding-left: 8px;
  }

  .watch-animal-slider .slide:not(.active) .slide-btns {
    display: block;
  }

  .watch-animal-slider .slide-btn {
    font-size: 10px;
    display: block;
    margin-bottom: 19px;
  }

  .watch-animal-slider .slide:not(.active) .slide-btn {
    font-size: 10px;
    padding-left: 20px;
    margin-right: 0;
    margin-bottom: 6px;
  }

  .watch-animal-slider .slide-btn:last-child {
    margin-bottom: 0;
  }

  .watch-animal-slider .slide-caption,
  .watch-animal-slider .slide.active .slide-caption {
    bottom: 15px;
  }

  .watch-animal-slider .slide:not(.active) .watch-online-link > span {
    width: auto;
  }

  .watch-animal-slider input[type='range']::-webkit-slider-thumb {
    width: 17px;
  }

  .watch-animal-slider input[type='range']::-moz-range-thumb {
    width: 17px;
  }

  .watch-animal-slider .slider-range input[type='range'] {
    margin-top: 3px;
  }

}

@media (min-width: 640px) and (max-width: 1199px){

  .watch-animal {
    height: 934px;
    padding-top: 122px;
  }

  .watch-animal .background img {
    object-fit: cover;
  }

  .title h2 {
    font-size: 64px;
    line-height: 75px;
  }

  .watch-animal .title {
    width: auto;
    margin-bottom: 30px;
  }

  .watch-animal-slider.slider {
    bottom: 32px;
  }

  .watch-animal-slider .slider-wrap {
    width: 588px;
  }

  .watch-animal-slider .slider-inner {
    top: 5px;
    padding-left: 71px;
  }

  .watch-animal-slider .slide {
    width: 180px;
    height: 261px;
    margin-right: 30px;
    margin-top: 45px;
  }

  .watch-animal-slider .slide:not(.active):hover .slide-caption {
    bottom: 20px;
  }

  .watch-animal-slider .slide:not(.active) .slide-description {
    font-size: 13px;
  }

  .watch-animal-slider .slide:not(.active) .slide-btn:before {
    width: 20px;
    height: 20px;
  }

  .watch-animal-slider .slide:not(.active) .slide-btn {
    font-size: 12px;
    padding-left: 26px;
  }

  .watch-animal-slider .slide:not(.active) .watch-online-link > span {
    width: 57px;
  }
}

@media (min-width: 1200px) and (max-width: 1919px){

  .watch-animal {
    padding-top: 128px;
    height: 926px;
  }

  .watch-animal .background img {
    object-fit: cover;
  }

  .watch-animal-slider.slider {
    bottom: -5px;
  }

  .watch-animal-slider .slider-wrap {
    width: 721px;
  }

  .watch-animal-slider .slider-inner {
    top: 0;
  }

  .watch-animal-slider .slide {
    width: 180px;
    height: 261px;
    margin-right: 30px;
    margin-top: 46px;
  }

  .slider-pagination {
    left: 49%;
  }
}

/*SECTION how it works*/

.how-it-works {
  background: var(--bg-3);
  padding-top: 100px;
  padding-bottom: 70px;
}

.how-it-works-slider {
  margin-bottom: 29px;
}

.how-it-works-slider .slider-inner {
  position: static;
  margin-bottom: 30px;
}

.how-it-works-slider .slide {
  height: 323px;
}

.how-it-works-slider .slide:first-child img {
  object-position: 0 71%;
}

/* -- Responsive for Section how it works  -- */

@media (max-width: 639px){

  .how-it-works {
    padding-top: 50px;
    padding-bottom: 20px;
  }

  .how-it-works-slider {
    margin-bottom: 17px;
  }

  .how-it-works-slider .slider-inner {
    margin-bottom: 21px;
  }

  .how-it-works-slider .slider-range input[type='range'] {
    margin-top: 15px;
  }

  .how-it-works-slider .slider-output {
    padding-left: 6px;
  }

  .how-it-works-slider .slider-pagination {
    width: 245px;
    padding-left: 5px;
  }

  .how-it-works-slider .slide:first-child img {
    object-position: 8% 50%;
  }
}

@media (min-width: 640px) and (max-width: 1199px){

  .how-it-works {
    padding-bottom: 38px;
  }

  .how-it-works-slider .slide:first-child img {
    object-position: 0 49%;
  }
}

@media (min-width: 1200px) and (max-width: 1919px){

  .how-it-works-slider {
    margin-bottom: 27px;
  }

  .how-it-works-slider .slide:first-child img {
    object-position: center;
  }

}

/*SECTION inspiration*/

.inspiration {
  background: var(--bg-2);
  padding-top: 100px;
  padding-bottom: 132px;
}

.inspiration-blocks {
  display: flex;
  justify-content: space-between;
}


/* -- Responsive for Section inspiration  -- */

@media (max-width: 1199px){

  .inspiration {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .inspiration-blocks {
    justify-content: normal;
    flex-wrap: wrap;
  }

  .block-item {
    text-align: center;
    width: 51%;
    margin: 0 auto;
    padding: 0 10px;
    margin-bottom: 51px;
  }
}

@media (max-width: 639px){

  .inspiration {
    padding-top: 50px;
    padding-bottom: 17px;
  }

  .block-item {
    width: 100%;
    padding: 0;
    margin-bottom: 32px;
  }

  .inspiration .block-descr {
    max-width: 300px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) and (max-width: 1919px){

  .inspiration {
    padding-bottom: 117px;
  }

}

/*SECTION pets-in-zoo*/

.pets-in-zoo {
  background: var(--bg-3);
  padding-top: 100px;
  padding-bottom: 70px;
}

.pets-in-zoo .title {
  margin-bottom: 35px;
}

.pets-in-zoo-slider {
  margin-bottom: 30px;
}

.pets-in-zoo-slider .slider-wrap {
  height: auto;
}

.pets-in-zoo-slider .slider-inner {
  position: static;
  margin-bottom: 30px;
}

.pets-in-zoo-slider .slide {
  width: 278px;
  height: 399px;
  margin-right: 32px;
  transition: all 0.3s ease-out;
  flex-basis: 23%;
}

.pets-in-zoo-slider .slide:hover .slide-caption {
  bottom: 46px;
}

.pets-in-zoo-slider .slide-description {
  width: 75%;
  margin-bottom: 17px;
  padding-left: 22px;
  line-height: 16px;
}

/* -- Responsive for Section pets-in-zoo  -- */


@media (max-width: 1199px){

  .pets-in-zoo-slider {
    width: 600px;
    margin: 0 auto 30px;
  }

  .pets-in-zoo-slider .slide {
    width: auto;
    height: 301px;
    margin-right: 20px;
    transition: all 0.3s ease-out;
    flex-basis: 35%;
  }

  .pets-in-zoo-slider .slider-inner {
    margin-bottom: 38px;
  }

  .pets-in-zoo-slider .slide:hover .slide-caption {
    bottom: 35px;
  }

  .pets-in-zoo-slider .slide-btns {
    padding-left: 8px;
  }

  .pets-in-zoo-slider .slide-btn:not(:last-child) {
    margin-right: 3px;
  }

  .pets-in-zoo-slider .slide-description {
    width: 93%;
    padding-left: 9px;
  }

  .slider-nav {
    display: none;
  }
}

@media (max-width: 639px){

  .pets-in-zoo {
    padding-bottom: 20px;
  }

  .pets-in-zoo .title {
    margin-bottom: 30px;
  }

  .pets-in-zoo-slider {
    width: 100%;
    max-width: 300px;
    margin: 0 auto 70px;
  }

  .pets-in-zoo-slider .slider-inner {
    margin-bottom: 33px;
  }

  .pets-in-zoo-slider .slide {
    flex-basis: 70%;
    margin-right: 16px;
  }

  .pets-in-zoo-slider .slider-pagination {
    width: 245px;
  }

  .slider-range input[type='range'] {
    margin-top: 13px;
  }

  .pets-in-zoo-slider {
    margin-bottom: 22px;
  }
}


@media (min-width: 1200px) and (max-width: 1919px){

  .pets-in-zoo {
    padding-bottom: 67px;
  }

  .pets-in-zoo .title {
    margin-bottom: 34px;
  }

  .pets-in-zoo-slider {
    width: 900px;
    margin: 0 auto 30px;
  }

  .pets-in-zoo-slider .slide {
    width: auto;
    height: 301px;
    margin-right: 23px;
  }

  .pets-in-zoo-slider .slide:hover .slide-caption {
    bottom: 36px;
  }

  .pets-in-zoo-slider .slide-btns {
    padding-left: 7px;
  }

  .pets-in-zoo-slider .slide-btn:not(:last-child) {
    margin-right: 5px;
  }

  .pets-in-zoo-slider .slide-description {
    width: 94%;
    padding-left: 9px;
  }

  .pets-in-zoo-slider .slider-pagination {
    padding-left: 6px;
  }
}

/*SECTION Pay and feed*/

.pay-and-feed {
  background: var(--bg-2);
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}

.pay-and-feed .block-item {
  background-image: url('../../assets/icons/gradient-circle.svg');
  background-repeat: no-repeat;
  width: 245px;
  height: 245px;
  position: relative;
}

.pay-and-feed .inspiration-blocks {
  padding-top: 64px;
  margin-bottom: 60px;
}

.pay-and-feed .block-pic {
  padding-top: 60px;
  margin-bottom: 13px;
  height: 127px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay-and-feed .block-title {
  width: 55%;
  margin: 0 auto;
}

.pay-and-feed .block-info h4 {
  color: var(--contrast-color-1);
}

.block-item:before {
  content: '';
  display: block;
  position: absolute;
  left: -71%;
  top: 50%;
  transform: translateY(-50%);
  background-image: url(../../assets/icons/pay-and-feed-arrow.svg);
  background-repeat: no-repeat;
  height: 17px;
  width: 110px;
  background-size: contain;
}

.block-item:first-child:before {
  display: none;
}


/* -- Responsive for Section Pay and feed  -- */

@media (max-width: 1199px){

  .pay-and-feed .title h3 {
    margin-bottom: 20px;
  }

  .pay-and-feed .text-description {
    width: 90%;
    margin: 0 auto;
  }

  .pay-and-feed .inspiration-blocks {
    padding-top: 47px;
    flex-direction: column;
    margin-bottom: 0px;
  }

  .pay-and-feed .block-item:not(:last-child) {
    margin-bottom: 100px;
  }

  .pay-and-feed .block-item:before {
    left: 50%;
    top: -66px;
    height: 27px;
    width: 46px;
    background-size: auto;
    background-position: right;
    transform: translateX(-50%) rotate(90deg);
  }

  .pay-and-feed .block-title {
    width: 60%;
  }
}

@media (max-width: 639px){

  .pay-and-feed {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .pay-and-feed .text-description {
    display: none;
  }

  .pay-and-feed .inspiration-blocks {
    padding-top: 10px;
  }

  .pay-and-feed .block-item:last-child {
    margin-bottom: 40px;
  }

  .pay-and-feed .block-title {
    width: 55%;
  }
}

@media (min-width: 1200px) and (max-width: 1919px){

  .block-item:before {
    left: -27%;
    height: 27px;
    width: 50px;
    background-size: auto;
    background-position: right;
  }

  .pay-and-feed .inspiration-blocks {
    padding-top: 36px;
    margin-bottom: 50px;
  }

}

/*SECTION testimonials*/

.testimonials {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  background: var(--bg-3);
}

.testimonials-slider {
  padding-top: 32px;
  margin-bottom: 28px;
}

.testimonials-slider .slider-wrap {
  height: 410px;
}

.testimonials-slider .slider-inner {
  height: 310px;
  position: static;
  margin-bottom: 50px;
  text-align: left;
}

.testimonials-slider .slide {
  width: 585px;
  height: 310px;
  background: var(--theme-color);
  box-shadow: 2px 4px 15px rgba(6, 12, 70, 0.1);
  border-radius: 5px;
  text-align: center;
  padding: 46px 74px 0;
  margin-right: 27px;
  flex-basis: 49%;
}

.testimonials-slider .slide:last-child {
  margin-right: 0;
}

.testimonials-slider .block-pic {
  position: relative;
  height: 68px;
  width: 68px;
  margin: 0 auto;
  overflow: hidden;
  border: 1px solid var(--absolute-gray-color-1);
  border-radius: 50%;
  margin-bottom: 18px;
}

.testimonials-slider .block-pic > .default-icon {
   object-fit: none;
}

.testimonials-slider .block-title h4 {
  margin-bottom: 16px;
}

/* -- Responsive for Section testimonials  -- */

@media (max-width: 1199px){

  .testimonials-slider {
    padding-top: 16px;
  }

  .testimonials-slider .slide {
    width: auto;
    padding: 46px 79px 0;
    flex-basis: 100%;
  }
}

@media (max-width: 639px){

  .testimonials {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .testimonials-slider {
    max-width: 300px;
    margin: 0 auto 18px;
  }

  .testimonials-slider .slider-wrap {
    height: auto;
  }

  .testimonials-slider .slider-inner {
    height: auto;
    margin-bottom: 40px;
  }

  .testimonials-slider .slide {
    width: 300px;
    height: 364px;
    padding: 50px 14px 0;
  }

  .testimonials-slider .block-pic {
    margin-bottom: 45px;
  }

  .testimonials-slider .block-title h4 {
    font-size: 16px;
  }

  .testimonials .slider-pagination {
    width: 245px;
  }
}

@media (min-width: 640px) and (max-width: 1199px){

  .testimonials-slider .slider-wrap {
    max-width: 600px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) and (max-width: 1919px){

  .testimonials {
    padding-bottom: 102px;
  }

  .testimonials-slider .slide {
    width: 440px;
    height: 310px;
    padding: 48px 57px 0;
    margin-right: 19px;
  }

  .testimonials-slider .slider-nav {
    top: 39%;
  }

}