:root {
  --text-color-primary: #333;
  --text-color-primary-reverse: #fff;
  --background-color-primary: #4f4f4f;
  --background-color-reverse: #fefefe;
  --background-color-highlight: #39a68a;
  --neutral-color: #bdbdbd;
  --hover-color: #49d6df;
  --focus-color: #40a4ac;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

/*default styles*/

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--text-color-primary);
  position: relative;
  margin: 0;
}

body.popup-on:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(79, 79, 79, 0.7);
  z-index: 0;
}

body.popup-on {
  overflow: hidden;
}

.container {
  margin: 0 auto;
  width: 1620px;
}

@media (max-width: 1919px){

  .container {
    width: 1100px;
  }
}

@media (max-width: 1200px){

  .container {
    width: 1000px;
  }
}

@media (max-width: 1024px){

  .container {
    width: 700px;
  }
}

@media (max-width: 768px){

  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.btn {
  height: 40px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), 0 1px 18px rgba(0, 0, 0, 0.12), 0 6px 10px rgba(0, 0, 0, 0.14);
  border: none;
  background: var(--background-color-reverse);
  text-transform: uppercase;
  color: var(--background-color-highlight);
  text-align: center;
  padding: 0 10px;
  line-height: 40px;
  text-decoration: none;
  cursor: pointer;
}

.btn.btn-dark {
  background: var(--background-color-primary);
  color: var(--text-color-primary-reverse);
}

.btn:hover,
.btn.btn-dark:hover {
  background: var(--neutral-color);
  color: var(--background-color-highlight);
}

.btn:focus,
.btn:active,
.btn.active,
.btn.btn-dark:focus,
.btn.btn-dark:active,
.btn.btn-dark.active{
  background: var(--background-color-highlight);
  color: var(--text-color-primary-reverse);
}

header {
  background-color: var(--background-color-primary);
  height: 70px;
  color: var(--text-color-primary-reverse);
}

header > .container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}

.header-item {
  flex-grow: 1;
}

.logo {
  display: flex;
  justify-content: flex-start;
}

.logo h1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin: 0;
}

.logo h1 span {
  display: flex;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: var(--text-color-primary-reverse);
  padding: 0 3px;
  cursor: default;
}

.logo h1 > span:last-child {
  background: var(--text-color-primary-reverse);
  color: var(--background-color-primary);
}

nav {
  height: 100%;
}

.menu {
  display: flex;
  height: 100%;
  align-items: center;
}

.menu-item {
  flex-grow: 1;
}

.menu-link {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: var(--text-color-primary-reverse);
}

.menu-item-icon {
  margin-bottom: 4px;
}

.menu-link:hover {
  color: var(--hover-color);
}

.menu-link:hover svg circle,
.menu-item:nth-child(2) .menu-link:hover svg > path {
  fill: var(--hover-color);
}

.menu-link:focus,
.menu-link:active,
.menu-item.active .menu-link {
  color: var(--focus-color);
}

.menu-link:focus svg circle,
.menu-link:active svg circle,
.menu-item.active .menu-link svg circle,
.menu-item:nth-child(2) .menu-link:focus svg path,
.menu-item:nth-child(2) .menu-link:active svg path,
.menu-item:nth-child(2).active .menu-link svg path {
  fill: var(--focus-color);
}

.header-item.user-info {
  flex-grow: 2;
}

.user-info {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.user-info.not-registered .with-user {
  display: none;
}

.user-info.registered .register-btn {
  display: none;
}

.user-info .with-user {
  display: flex;
  flex-direction: row-reverse;
}

.user-info .user-pic {
  width: 40px;
  height: 40px;
  margin-left: 15px;
}

.user-pic > img {
  width: 100%;
  height: 100%;
  object-fit: fill;
}

/*Popup styles*/

.popup {
  display: none;
  margin: 0 auto;
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--background-color-reverse);
  border: 1px solid var(--neutral-color);
  box-shadow: 2px 2px 2px var(--background-color-primary);
}

.popup-inner {
  height: 100%;
  padding: 10px 15px;
}

.popup-title {
  background: var(--background-color-primary);
  color: var(--text-color-primary-reverse);
  font-size: 22px;
  text-align: center;
  padding: 10px 0;
}

.popup-title h2 {
  margin: 0;
}

.popup .btn-close {
  position: absolute;
  right: 10px;
  top: 5px;
  color: var(--text-color-primary-reverse);
  font-size: 20px;
  font-weight: bold;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.popup .btn-close:hover {
  color: var(--hover-color);
}

.popup.active {
  display: block;
}

/*Register popup and form*/

.register-popup {
  width: 650px;
  height: 500px;
}

.register-popup form {
  height: 90%;
}

.form-inner {
  height: 80%;
  display: flex;
  flex-flow: column wrap;
  align-content: space-between;
  justify-content: center;
}

.register-popup label {
  display: block;
  width: 50%;
  height: 30%;
}

.register-popup input {
  width: 90%;
  height: 40px;
  border: none;
  border-bottom: 1px solid var(--background-color-primary);
  padding: 0 10px;
  color: var(--text-color-primary);
  font-size: 16px;
  outline: none;
}

.register-popup input:focus,
.register-popup input:active {
  border-bottom: 2px solid;
}

.register-popup input.valid {
  border-bottom-color: green;
}

.register-popup input.invalid {
  border-bottom-color: red;
}

.register-popup .add-user-pic {
  cursor: pointer;
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.add-user-pic:before {
  content: '+';
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: var(--text-color-primary);
  font-size: 150px;
  font-weight: 100;
}

.add-user-pic:hover {
  opacity: 0.7;
}

.add-user-pic:hover:before {
  opacity: 1;
}

.add-user-pic input {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.buttons-wrap {
  display: flex;
  justify-content: center;
}

.buttons-wrap .btn {
  margin: 0 10px;
}

.error-text {
  color: red;
  font-size: 12px;
}