@import "components/footer.css";
@import "components/main-page/main-page.css";
@import "components/game-mode/game-mode-btn/game-mode-btn.css";
@import "components/menu/menu-button.css";
@import "components/menu/menu.css";
@import "components/menu/menu-items.css";
@import "components/card/card.css";
@import "components/category/category.css";

:root {
  --padding-for-main-top-desctop: 30px;
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  position: relative;
  padding-bottom: 50px;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
  font-family: Arial, sans-serif;
  position: relative;
}

.container {
  margin: 0 auto;
}

@media (min-width: 1920px){

  .container {
    max-width: 1620px;
  }
}

@media (max-width: 1919px){

  .container {
    padding: 0 100px;
  }
}

@media (max-width: 1199px){

  .container {
    padding: 0 20px;
  }
}

@media (max-width: 639px){

  .container {
    padding: 0 10px;
  }
}

main {
  padding-top: var(--padding-for-main-top-desctop);
}