@import "components/footer.css";
@import "components/main-page/main-page.css";
@import "components/game-mode-toggle/game-mode-btn.css";
@import "components/menu/menu-button.css";
@import "components/menu/menu.css";

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  position: relative;
  padding-bottom: 50px;
}

body {
  display: flex;
  height: 100%;
  margin: 0;
}

.card-wrap {
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 25%;
  padding: 20px;
}

.card > img {
  max-width: 100%;
}