.footer {
  border-top: 1px solid #a2abb3;
  height: 50px;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #a2abb3;
  width: 100%;
}

.footer-container {
  padding: 0 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1140px;
  margin: 0 auto;
}

.github {
  display: block;
  width: 200px;
  height: 45px;
  padding-left: 45px;
  background-image: url(../assets/github.svg);
  background-size: 35px;
  background-repeat: no-repeat;
  background-position: left center;
  line-height: 45px;
  color: #cbd5de;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  transition: 0.3s;
}

.rss {
  display: block;
  position: relative;
  font-family: "Open Sans", sans-serif;
  width: 86px;
  height: 32px;
  background-image: url(../assets/rss.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left center;
  padding-right: 111px;
}

.rss-year {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 21px;
  letter-spacing: -2px;
  color: #cbd5de;
  line-height: 0.9;
  font-weight: bold;
  transition: 0.3s;
}