@import "../../pages/landing/normalize.css";
@import "../../common.css";

main {
  padding-top: 61px;
  background-color: var(--lighter-page-bg);
}

main > .container {
  position: relative;
  display: flex;
}

/*ASIDE*/

aside {
  position: absolute;
  top: 0;
  left: -7.7%;
  width: 157px;
  height: 100%;
  padding-top: 2px;
}

.aside-inner {
  position: -webkit-sticky;
  position: sticky;
  top: 61px;
  width: 157px;
}

.aside-slider .slider-nav {
  top: auto;
  left: 50%;
  right: auto;
  transform: translateX(-50%) rotate(90deg);
}

.aside-slider .slider-nav.slider-prev {
  top: -8px;
}

.aside-slider .slider-nav.slider-next {
  bottom: -9px;
}

.aside-slider .slider-nav > svg {
  width: 14px;
}

/*SECTION The zoo*/

.the-zoo {
  width: 100%;
  padding-bottom: 88px;
}

.the-zoo .title h3 {
  margin-bottom: 40px;
}

.broadcast-wrap {
  display: flex;
}

.broadcast-inner {
  width: 66%;
}

.broadcast-main {
  width: 100%;
  height: 442px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 30px;
}

.broadcast-slider-wrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 18px;
}

.broadcast-slide-inner {
  width: 246px;
  height: 141px;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.broadcast-slide-plug {
  position: absolute;
  background: transparent;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
}

.broadcast-main > iframe,
.broadcast-slide-inner > iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*radio-pagination*/

.radio-pagination-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 40px;
  margin: 0 auto;
}

.radio-pagination label {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin: 12px 0;
  cursor: pointer;
  position: relative;
}

.radio-pagination input {
  opacity: 0;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.radio-pagination span {
  width: 8px;
  height: 8px;
  background: #C4C4C4;
  border-radius: 50%;
  margin-right: 5px;
}

.radio-pagination input:checked+span,
.radio-pagination input:checked:hover+span {
  width: 11px;
  height: 11px;
  background: var(--gradient);
  cursor: default;
}

input:hover+span {
  background: var(--gradient-hover);
}

/*broadcast description*/

.broadcast-description {
  width: 34%;
  padding-left: 28px;
}

.broadcast-description-wrap {
  margin-bottom: 35px;
}

.broadcast-description .block-info * {
  text-align: left;
}

.broadcast-description .block-info {
  margin-bottom: 13px;
}

.broadcast-description .block-title h4 {
  margin-bottom: 6px;
}

.broadcast-description .watch-online-btn {
  width: 194px;
}

@media (max-width: 1199px){

  main {
    padding-top: 155px;
  }

  aside {
    left: 7px;
    width: 90px;
  }

  .aside-inner {
    width: 100%;
  }

  .aside-slider {
    height: 410px;
    width: 100%;
  }

  .aside-slider-wrap {
    height: 335px;
  }

  .aside-slide {
    margin-bottom: 10px;
  }

  .aside-slide-pic {
    width: 70px;
    height: 70px;
  }

  .aside-slide.active .aside-slide-pic {
    width: 80px;
    height: 80px;
    margin-top: 6px;
  }

  .aside-slide.active {
    width: 90px;
    height: 90px;
  }

  .the-zoo {
    padding-left: 102px;
    padding-bottom: 79px;
  }

  .the-zoo .wrapper {
    max-width: 500px;
    margin: 0 auto;
  }

  .the-zoo .title h3 {
    margin-bottom: 35px;
    padding-left: 11px;
  }

  .broadcast-wrap {
    flex-direction: column;
  }

  .broadcast-inner {
    width: 100%;
    margin-bottom: 38px;
  }

  .broadcast-main {
    height: 280px;
    margin-bottom: 15px;
  }

  .broadcast-slide-inner {
    width: 156px;
    height: 89px;
  }

  .broadcast-description {
    width: 100%;
    padding-left: 0;
  }

  .broadcast-description-wrap {
    margin-bottom: 29px;
  }

  .broadcast-description .watch-online-btn {
    width: 186px;
  }
}

@media (max-width: 639px) {

  main {
    padding-top: 119px;
  }

  aside {
    width: 74px;
    padding-top: 10px;
    left: 5px;
  }

  .aside-slider {
    padding-top: 31px;
    height: 260px;
  }

  .aside-slider-wrap {
    height: 200px;
  }

  .aside-slide {
    margin-bottom: 5px;
  }

  .aside-slide-pic {
    width: 40px;
    height: 40px;
  }

  .aside-slide.active {
    width: 65px;
    height: 65px;
  }

  .aside-slide.active .aside-slide-pic {
    width: 57px;
    height: 57px;
    margin-top: 4px;
  }

  .aside-slider .slider-nav {
    top: auto;
    left: 42%;
  }

  .the-zoo {
    padding-left: 85px;
    padding-right: 10px;
    padding-bottom: 58px;
  }

  .the-zoo .wrapper {
    max-width: 240px;
    margin: 0 auto;
  }

  .the-zoo .title h3 {
    margin-bottom: 14px;
    padding-left: 7px;
    font-size: 24px;
  }

  .broadcast-main {
    height: 116px;
    margin-bottom: 10px;
  }

  .broadcast-inner {
    margin-bottom: 17px;
  }

  .broadcast-slide-inner {
    width: 98px;
    height: 56px;
  }

  .broadcast-slide:last-child {
    display: none;
  }

  .broadcast-slider-wrap {
    margin-bottom: 9px;
  }

  .broadcast-description .block-title h4 {
    margin-bottom: 8px;
    font-size: 14px;
    line-height: 16px;
  }

  .broadcast-description .block-info {
    margin-bottom: 15px;
  }

  .broadcast-description-wrap {
    margin-bottom: 17px;
  }

  .broadcast-description .block-descr {
    font-size: 12px;
    line-height: 14px;
  }
}

@media (min-width: 1200px) and (max-width: 1919px){

  aside {
    left: 16px;
    width: 119px;
  }

  .aside-inner,
  .aside-slider {
    width: auto;
  }

  .aside-slider {
    height: 518px;
  }

  .aside-slider-wrap {
    height: 445px;
  }

  .aside-slide {
    margin-bottom: 10px;
  }

  .aside-slide-pic {
    width: 96px;
    height: 96px;
  }

  .aside-slide.active {
    width: 120px;
    height: 120px;
  }

  .aside-slide.active .aside-slide-pic {
    width: 107px;
    height: 105px;
  }

  .the-zoo {
    padding-left: 50px;
  }

  .broadcast-inner {
    width: 62%;
  }

  .broadcast-main {
    height: 297px;
    margin-bottom: 27px;
  }

  .broadcast-slide-inner {
    width: auto;
    height: 94px;
  }

  .broadcast-slide:not(:last-child) {
    margin-right: 17px;
  }

  .radio-pagination-inner {
    width: 60px;
    padding-right: 20px;
  }

  .broadcast-description {
    width: 32%;
    padding-left: 19px;
  }

  .broadcast-description .block-info {
    margin-bottom: 16px;
  }

  .broadcast-description-wrap {
    margin-bottom: 20px;
  }

  .broadcast-description .watch-online-btn {
    width: 185px;
  }
}